.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: end;
}

.top_btn {
  margin-top: 30px;
  display: flex;
  gap: 32px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px;
}
.contact_form form{
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form_control {
  position: relative;         
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_control input {
  height: 48px;
  padding: 0 12px;
  font-size: 14px;

  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
}

.form_control label {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
  font-size: 12px;
  color: #333;
}
